.profilAdministrateur{
    width: 100%;
    padding: 10%;
    display: block;
    background: rgb(238, 236, 236);
}
.couleurArrierePlan{
    background-color: white;
    border-radius: 10px;
    height: max-content;
}
.profilAdministrateur .imageArrierePlan{
    width: 100%;
    height: 300px;
    background-image: url('../../SiteImages/administrateur/arrierePlan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.profilAdministrateur .imageProfil img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 1px gray;
    
}
.imageProfil
{
    position:relative;
    top: 150px;
    left: 100px;
    width: max-content;
}
.infoPersonnel{
    margin:0 auto;
    text-align: center;
}
.infoPersonnel .nomComplet{
    font-weight: bold;
    font-size: 25px;
}

.infoPersonnel {
    margin-top: 10px;
    font-size: 20px;
}
 .infoPersonnel .adresse{
    margin-top: 10px;
    color: #636363;
    margin-bottom: 20px;
 }

.infoAdministrateur{
    width: 86%;
    margin-left : 12%;
    margin-top: 70px;
    display: flex;
    height: 80px;
}
.divButtonModifier{
    margin-left: auto;
}
.divButtonModifier button{
    background: transparent;
    border: none;
}
.divButtonModifier button svg{
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
}
.divButtonModifier svg:hover{
    background: rgb(201, 197, 197);
}
#btnAfficherFormulaire{
    outline: none;
}

/*COORDONNeES*/
.coordonne{
    padding: 30px;
    margin-top: 30px;
}
.iconModifier{
    float: right;
}
.email:hover , .telephone:hover{
    background: rgb(249, 242, 236);
    cursor: pointer;
}
.titreCoordonne{
    font-family: "Google Sans Text", "Google Sans", Roboto, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 16px;
    text-transform: none;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: var(--gm3-sys-color-on-surface-variant, #444746);
    margin: 0;
    padding: 0;
    width: 100%;
}
.email , .telephone{
    padding: 10px;
    border-bottom: 1px solid gray;
    border-radius: 10px;
}
.value{
    margin-left: 100px;
    font-family: var(--identity-gm3-migration-body1-font);
    font-size: 22px;
    font-weight: 400;
    
}
.telephone .value{
    margin-left: 135px;
}
.changerEmail, .changerTelephone{
    padding: 40px;
    width: 100%;
    text-align: center;
    display: none;
    transition: all 3s ease-in-out;
}
#ema , #tel{
    width: 40%;
    border-radius: 8px;
    font-size: 18px;
    margin: 2px;
    padding: 8px 10px;
    z-index: 1;
    border: solid 1px rgb(112, 179, 231);
    outline: none;
    margin-left: 20px;
}
.enregistrerButton{
    font-size: 18px;
    padding: 8px 10px;
    margin-left: 20px;
    background: rgb(60, 127, 226);
    color: white;
    font-weight: bold;
    border: none;
    outline: none !important;
    border-radius: 10px;
    cursor: pointer;
} 
label{
    font-size: 20px;
    margin-bottom: 5px;
}


/*mot de passe */
.changerPasswd{
    margin-top: 50px;
    padding: 40px;
    width: 100%; /* Ajustez la largeur selon vos besoins */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.changerPasswd input{
    padding: 8px; /* Ajustez la hauteur du champ de formulaire */
    margin-bottom: 10px; /* Espacement entre chaque input */
    width: 60%; /* Remplir la largeur disponible */
    box-sizing: border-box;
    font-size: 18px;
    
}
.formulairePassword {
    background: rgb(60, 127, 226);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 60%;
    outline: none !important;
}

/*profil Des Administrateur*/








/* formulaire */
#btnAfficherFormulaire {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Styles pour la formulaire */
#formulairePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3000;
    width: 700px;
    max-height: 100vh;
    overflow-y: auto;
}
#formulairePopup .form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5%;
}
#formulairePopup .form input{
    padding: 8px 16px;
    font-size: 18px;
    margin-bottom: 40px;
}
.BtnFormulaireInfo {
    width: 20%;
    align-self: flex-end;
    margin-bottom: 10px;
    background: rgb(60, 127, 226);
    color: white;
    border: none;
    outline: none !important;
    padding: 5px;
    border-radius: 8px;
}
.btnChangerImage{
    width: max-content;
    align-self: flex-end;
    margin-bottom: 10px;
    background: rgb(60, 127, 226);
    color: white;
    border: none;
    outline: none !important;
    padding: 8px;
    border-radius: 8px;
    float: right;
}
.imageProfilFormulaire{
    width: 100%;
    margin-bottom: 20px;
}
/* Styles pour le bouton de fermeture */
.fermerFormulaire {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



/*from des modification*/
.indicationChamp{
    color: #707070;
}


/* carousel administrateurs */
.tousLesAdministrateurs{
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    margin-top: 40px;
    
}




.card{
    width: 100%;
    height: 100%;
    border-radius: 25px !important;
    background-color: #FFF;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    border-radius: 25px 25px 0 0;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070FA;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F2;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #FFF;
    padding: 3px;

}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.adresse{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.communication{
    display: flex;
    width: 100%;
    align-items: center;
}
.communication a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    margin: 14px;
    background-color: #4070F4;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50%;
    text-align: center;
    overflow: hidden;
    height: 40px;
}
.communication a:hover{
    background: #265DF2 ;
    color: white;
}
.swiper-slide{
    border-radius: 25px;
}
#next{
    color: #333;
}
#prev{
    color: #333;
}
.titreAdministrateur{
    margin-top: 20px;
  }