.tousLesMessages{
    margin-bottom: 100px;
    width: 100%;
    padding: 20px;
}
.tousLeMessage{
    display: flex;
    background: rgba(192, 214, 229, 0.787);
    width: 100%;
    border: solid 1px rgba(209, 209, 209, 0.925);
}
.boiteMessage{
    display: flex;
    align-items: center;
    width: 81%;
}
.date{
    display: flex;
    align-items: center;
    width: 20%;
    text-align: center;
    justify-content: center;
}
.tousLeMessage:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.tousLeMessage:hover .button{
    display: block;
}
.tousLeMessage:hover .Message{
    width: 70%;
}
.tousLeMessage:hover .date{
    display: none;
}
.Message{
    align-items: center;
    height: max-content;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}
.button{
    display: none;
    width: 30%;
    text-align: center;

}
.button div{
    align-items: center;
    height: 25px;
}
button svg{
    align-items: center;
    width: 15px;
    height: 15px;
}
button{
    border: none;
    background: transparent;
}
.divCheckBox{
    padding: 4px;
    width: 4%;
}
.nomExpediteur{
    display: flex;
    align-items: center;
    width: 15%;
}
.objet{
    display: flex;
    align-items: center;
    width: 25%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

/*div Controle*/

.divControle{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-right: 1px solid rgb(149, 149, 149);
    border-left: 1px solid rgb(149, 149, 149);
    border-top: 1px solid rgb(149, 149, 149);
}

.buttonSupprimerMessage{
    margin-left: 40px;
    margin-bottom: 10px;
    display: none;
}

.checkbox input{
    cursor: pointer;
}
.checkbox label{
    cursor: pointer;
}
.checkbox{
    cursor: pointer;
}
.voirTous{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.voirTous a{
    text-decoration: none;
    color: black;
}
.voirTous a:hover{
    font-weight: 600;
}