div.membre{
    width: 100%;
    justify-content: center;
    padding: 4%;
  }
  .les_membres{
      display: grid;
      grid-template-rows: 1fr 1fr; /* Définit deux lignes de fraction égale */
      grid-template-columns: 50% 50%; 
      border-radius: 10px;
      height: max-content;
      padding-left: 20px ;
      background-color: white;
  }
  div.membre .nav_bar_admine{
      margin-top: 10px;
      position: fixed;
      top: 0px;
      right: 200px;
      z-index: 3000;
    }
    .cadre{
      display: flex;
      align-items: center;
     }
    
     .imge_profile{
      width: 100px;
      height: 100px;
      border-radius: 50%;
     }
    
     .imge_profile img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
     }
     div.les_membres div.row{
      margin-top: 10px;
      display: block !important;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.397);
      border-radius: 10px;
      width: 90%;
      height: max-content; 
      padding: 10px;
      position: relative;
      background-color: #448cb54c;
     }
    
     .lien-profile{
      position: absolute;
      right:0px;
     }
    
     .barsearch{
      display: flex;
      align-items: center;
    }
    .bareDeRecherche{
      display: flex;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      padding: 5px;
      border-radius: 12px;
    }
    .inputRecherche{
      border: none;
        
    }
    .inputRecherche:focus{
      outline: none;
      background: transparent;
    }
    .buttonRecherche{
      border: none;
      border-radius: 50%;
      color:#1aa3d4;
      background: transparent;
    }
    .buttonRecherche:focus{
      outline: none;
    }
    
    .info{
    margin-left: 10px;
    margin-top: 10px;
    }
    .description{
      font-size: 10px;
      color: gray;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 300px;
    }
    
    .tirtre{
    align-self: start;
    margin-top: 10px;
    }
    .last_visit{
    position: absolute;
    right: 0;
    top: 0px;
    display: flex;
    align-items: center;
    }
    .last_visit div{
    margin-right:10px ;
    }
    div.last_visit button{
    border: none;
    background-color: transparent;
    }
    div.last_visit button:focus{
      outline: none;
      }
  
      span.acunResultat {
        color: gray;
        font-size: 25px;
    }
  
    /* buttonRadio */
    .buttonRadio input{
      margin-left: 20px ;
      cursor: pointer;
    }
    .buttonRadio label{
      margin-left: 5px;
      cursor: pointer;
    }
    div#buttonCacher{
      visibility: hidden;
    }
    div.suivantPrecedant{
      margin-top: 40px;
      width: 100%;
      padding-left: 1%;
      padding-right: 6%;
      text-align: center;
    }
    label a{
      text-decoration: none;
      color: black;
    }
    label a:hover{
      text-decoration: none;
      color: black;
    }
    #pre{
      float: left;
    }
    #suiv{
      float: right;
    }
    div.suivantPrecedant a{
      text-decoration: none !important;
      color: rgba(0, 0, 0, 0.393);
      font-size: 16px;
      font-weight: 500;
    }
    div.suivantPrecedant a:hover{
      color: rgba(0, 0, 0, 0.883);
    }