@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins&display=swap");

.section1{
    width: 100%;
    height: 300px;
    background: #2babe2;
    padding-top: 40px;
    text-align: center;
    position: relative;
    top: 60px;
}
.section2{
    width: 100%;
}
.titreDuSite{
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}
.ligneStatistique{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr; /* Définit deux lignes de fraction égale */
    grid-template-columns: 25% 25%;
    gap: 20px; 
    justify-content: center;
    color: #fff;
    
}
.cardS{
    border-radius: 5px;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-bottom: -50px;
    flex-direction: row;
    padding: 20px 0;
}
.cardS:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    scale: 1.02;
}
.titre{
    width: 20%;
    text-align: center;
}
.nombre{
    text-align: center;
    width: 80%;
}
.nombre p{
    background: whitesmoke;
    margin-left: 30%;
    margin-right: 30%;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.nombre h4{
    font-size: 20px;
}
svg{
    width:30px;
    height: auto;
}
.condidats{
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.recreteurs{
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.offres{
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
.messages{
    background: linear-gradient(45deg,#FF5370,#ff869a);
}





/* le css de card courseul*/

body{
    text-align: center !important;
}

.indice1{
    background-color: #d5e1ef;
}
.indice2{
    background-color: #d5efe0;
}
.top{
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 400px;
   margin-top: 100px;
  }
  .top h1{
    margin-bottom: 30px;
  }
  .premier{
    margin-top: 300px;
}
.container {
  width: 100%;
  height: 100%;
}
.card {
  background-color: #f9fafe;
  width: 300px;
  height: 45%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px 0 0 0;
  transition: transform 400ms;
  opacity: 0.5;
  box-shadow: none;
}

.quote-icon {
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  left: 3%;
  top: 0;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  border: 5px solid #f9fafe;
  box-shadow: 0 0 50px #ccc;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-60px, -60px);
  z-index: 1;
}

.header {
  margin: 50px 0 0 0;
  text-align: center;
  z-index: 1;
}

.name {
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;
}

.title {
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  margin: 5px 0 0 0;
  padding: 0 5px;
  color: #262727;
}

.quote-container {
  margin: 0;
  height: 100%;
  z-index: 1;
  padding: 15px 30px 30px 30px;
  overflow: hidden;
}

.quote {
  width: 100%;
  height: 95%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-align: center;
  color: #73808c;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide-active {
  z-index: 1;
}

.swiper-slide-active .card {
  box-shadow: 0 8px 30px -7px #c9dff0;
  opacity: 1;
  transform: scale(1.5);
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

@media (max-height: 400px) {
  .header {
    margin: 40px 0 0 0;
  }
  .name {
    font-size: 12px;
  }
  .title {
    font-size: 10px;
  }
  .quote-container {
    padding: 5px 20px 20px 20px;
  }
  .quote-icon {
    width: 75px;
    height: 75px;
  }
  .avatar {
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50px);
  }
}

/*les derier Offre*/
.cardOffre {
  width: 94%;
  height: 400px;
  border-radius: 4px;
  background: #e6e6be;
  display: flex;
  gap: 5px;
  padding: 20px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 100px;
}

.cardOffre p.paragrapheOffre {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #dfdddd;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
}

.cardOffre p.paragrapheOffre:hover {
  flex: 4;
}

.cardOffre p.paragrapheOffre span.titreDePoste {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: .1em;
}

.cardOffre p.paragrapheOffre:hover span.titreDePoste {
  transform: rotate(0);
}
.description{
    display: none;
    transition: all .5s;
    font-size: 12px;
    color: gray;
    text-transform:none;
}
.cardOffre p.paragrapheOffre:hover .description {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.titreDescription{
    color: #000000;
    font-size: 15px;
}
.tousCadrOffre{
  margin-top: 100px;
}
.tousCadrOffre h1{
  margin-bottom: 20px;
}