@import url('https://fonts.cdnfonts.com/css/readex-pro');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

body {
    position: relative;

}

.divGlobal {
    height: 100vh;
    max-height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.ModificationOffre {
    position: relative;
    top: 100px;
    width: 80%;
    height: max-content;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.283);
    display: flex;
    align-items: center;
    justify-content: center;

}

.ModificationOffre form{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
}
.tdGauche{
    width: 30%;
}
.tdDroit{
    width: 100%;
}
.ModificationOffre label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    width: max-content;
}

.ModificationOffre input[type="text"],
.ModificationOffre input[type="date"],
.ModificationOffre select,
.ModificationOffre textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.ModificationOffre textarea {
    resize: vertical;
}

.ModificationOffre input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    float: right;
}

.ModificationOffre input[type="submit"]:hover {
    background-color: #0056b3;
    
}
footer{
    position: relative;
    top: 200px;
}