/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header{
    position: fixed;
    top: 0;
    z-index: 9999999999;
}

.profil {
    max-width: 800px!important;
    margin: 50px auto;
    padding: 20px;
    margin-top: 80px;
}

/* Style du profil du candidat */
.profile-card {
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    max-height: max-content;
    background-size: cover;
    box-shadow: 0 0 10px #4c80d4;
    backdrop-filter: blur(9px);
    
}

.blur{
    width: 100%;
    background-color: #3a99dd68;
    height: 100%;
    height: max-content;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}

.verticale{
    background-color: #bce2f6;
    height: 100%;
    width: 50%;
    margin-left: 10%;
    padding-top: 5%;
}

.photoProfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photoProfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid rgb(0, 153, 255);
    padding: 3px;
}

.NomEtPrenom {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Nom{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.poste{
    color: #333;
}
.donneesPersonels p {
    margin: 5px 0;
}

.donneesContact p {
    margin: 5px 0;
}

/* Style de l'en-tête et du pied de page si nécessaire */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}
