@import url('https://fonts.cdnfonts.com/css/readex-pro');

html{
    background-color: #b5d4e638 ;
}
body{
    font-family: 'Readex Pro', sans-serif;
    margin: 0;


}
.pro{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #b5d4e638 ;
}

.milieuProfil{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;


}
.Entreprise,.Annance{
    background-color: #fff;
    width: 80%;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 2px 2px 2px  rgba(0, 0, 0,0.1);
}
.entrepriseNom,.AnnanceDetail{
    font-size: 34px;
    padding: 15px;
    border-bottom: solid 3px rgba(0, 0, 0,0.1);
}
.logoEntreprise{
    float: right;
    cursor: pointer;
    margin-top: 20px;
}
.Poste{
    margin-top: 20px;
    font-size: 25px;
}
.informationsA,.InfosEntreprise{
    width: 100%;
    font-size: 20px;
}

.informations{
    width: 100%;
}

.informations td{
    width: 50%;
}


.competences,.typeContrat,.ville,.NiveauExperience,.NiveauEtude,.langues{
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.description{
    border-top: 2px solid;
    margin-top: 40px;
}
.changelogo input{
    background-color: #fff;

}

.photoEntreprise{
    cursor: pointer;
}

.textdesc{
    margin-left: 20px;

}
.description p {
    margin-top: 20px;
    padding-left: 30px;
}

.description textarea{
    border-top: 2px solid;
    margin-top: 40px;
    padding: 0;
    border: none;
    padding-left: 10px;
    width: 100%;

}
td{
    padding: 15px;
    
}
input{
    border: none;
    background-color: #b5d4e638;
    padding-left: 15px;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    outline: none;
}
footer {
    position: relative;
    width: 100%;
}
.bg-body-tertiary {
    background-color: #98c6e161 !important;
}

.btnmodifier{
    float: right;
    border: none;
    font-size: 25px;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background-color: lightblue;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnmodifier:hover{
    background-color: rgb(98, 168, 233);
}

.ModificationMotDePasse{
    width: 100%;
    height: 400px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 1;
    background-color: #b5d4e638 ;
}

.ModificationMotDePasse form{
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 2px 2px 2px  rgba(0, 0, 0,0.1);

}

.ModificationMotDePasse form .titreMP{
    position: relative;
    top: 0;
    left: 0;
    color: darkblue;
    font-weight: 700;
    font-size: 30px;
    padding: 10px;
    border-bottom: 4px solid #b5d4e638;
    width: 100%;
}
.ModificationMotDePasse form input{
    height: 40px;
    width: 100%;
}
.ModificationMotDePasse form table{
    width: 100%;
}
.PasswordNotCorespondent{
    color: red;
    display: none;
}

.ModificationMotDePasse form td{
    width: 50%;
    font-size: 20px;
}
.BienModifier {
    background-color: #4CAF50; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    margin-top: 80px; 
    border-radius: 5px; 
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110px;
    display: none;
}

.BienModifier h2 {
    font-size: 24px; 
}

.BienModifier p {
    font-size: 18px;
}

.AnPsIn {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.AnPsIn h2 {
    font-size: 24px;
}


.PasswordsNotCorre {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.PasswordsNotCorre h2 {
    font-size: 24px;
}