@import url('https://fonts.cdnfonts.com/css/readex-pro');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
                                                
}

    
section {
    margin-top: 50px;
}
body {
    position: relative;
}
html {
    scroll-behavior: smooth;
}


.milieuCentre{
    height: max-content;
    width: 100%;
    background-color: #fff;
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
}

#carrousel{
    width: 900px;
    height: 450px;
    border: solid 4px #fff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}
#container{
    width: 900px;
    height: 450px;

}
.boutoncarrousel{
    position: absolute;
    width: 70px;
    cursor: pointer;
    top: 170px;
}
#g{
    left: 0;
    opacity: 0.4;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}
#d{
    right: 0;
    opacity: 0.4;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}
#g:hover{
    transform: scale(1.1);
    opacity: 1;
}
#d:hover{
    transform: scale(1.1) rotate(180deg);
    opacity: 1;
}
.photo{
    width: 900px;
    height: 450px;
    margin: 0;
    display: inline-block;
    background-size: cover;

}
.gestionDesOffres{
    height: 450px;
    padding: 60px;
    font-size: 50px;
    background-color: #00000033;
    color: rgba(255, 255, 255, 0.612);
}

.GoPara{
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 40px;
    background-color: #96969657;
    border-radius: 10px;
}
.GoPara:hover{
    color: white;
    background-color: #96969689;

}

.recherecheEmploi{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    position: relative;
}
.recherecheEmploi form .searchBar{
    background-color: rgba(0, 0, 0, 0.389);
    border: solid #eeeeee 1px;
    border-radius: 5px;
    height: 50px;
    width: 80%;
    padding-left: 10px;
    padding-right: 40px;
    outline: none;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
    color: #eee;
}
.recherecheEmploi form .searchBar::placeholder{
    color: #969696;
}

.recherecheEmploi form button{
    background-color: rgb(223, 223, 223);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    right: 20px;
    height: 50px;
    width: 20%;
    border-radius: 20px;font-size: 20px;
    transition: all 0.3s ease;
}
.recherecheEmploi form button:hover{
    background-color: rgb(201, 201, 201);
}




.ResultatRechre{
    background-color: #969696a1;
    height: 100vh;
    width: 100%;
    position: absolute;
    padding-top: 80px;
    font-size: 30px;
}

footer{
    width: 100%;
    margin-top: 250px;
}
