.profilCadidat{
    width: 100%;
    padding: 10%;
    display: block;
}
.conteneur{
    background-color: #eef6fd;
    border-radius: 10px;
    position: relative;
    max-height: max-content;
}
.coordonnees , .doneesProfesionelles{
    padding: 30px;
    height: 670px;
    max-height: max-content;
    margin-top:30px;
}

.CV{
    padding: 30px;
    height: 270px;
    max-height: max-content;
    margin-top:30px;
}
.MotDePasse{
    padding: 30px;
    height: 580px;
    max-height: max-content;
    margin-top: 30px;
}
.imageArrierePlan .uploadIcon {
    background: linear-gradient(to bottom, #6363631c, #317fc3);
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 30px;
    color: rgb(255, 255, 255);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imageArrierePlan:hover .uploadIcon {
    opacity: 1;
}
.imageArrierePlan .uploadIcon label{
    width: 100%;
}
.imageArrierePlan .uploadIcon label i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    cursor: pointer;
    margin-top: 100px;
}

.profilCadidat .imageArrierePlan{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
}

.profilCadidat .imageProfil img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 5px rgb(41, 121, 170);
    
}
.imageProfil
{
    position:absolute;
    top: 190px;
    left: 50px;
    width: max-content;
    display: flex;
    flex-direction: column;align-items: center;
}

.imageProfil .uploadIconProfile {
    background: linear-gradient(to bottom, #7c7c7c1c, #000000);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 0;
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.imageProfil:hover .uploadIconProfile {
    opacity: 1;
}


.imageProfil .uploadIconProfile label{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


.infoPersonnel{
    margin:0 auto;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.infoPersonnel .nomComplet{
    font-weight: bold;
    font-size: 25px;
}

 .infoPersonnel .adresse{
    color: #636363;
 }


.BtnAfficheForm{
    background-color: transparent;
    border: none;
    outline: none;
    color: green;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 350px;
}

/* Coordonnées  du candidats :  */


.titreCoordonnees{
    padding-left: 2%;
}

.conteneur .CoordonneesCandidat{
    margin-top: 70px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.conteneur .CoordonneesCandidat table{
    width: 100%;
}

.conteneur .CoordonneesCandidat table input , textarea{
    outline: none;
    border: solid #317fc3 1px;
    background-color: #317fc33e;
    width: 80%;
    height: 70px;
    border-radius: 6px;
    padding: 10px;
}

table td{
    padding-left: 10%;
}
table{
    width: 100%;
}

/* Données Professionelle du candidats :  */

.conteneur .CoordonneesCandidatProfessionnelles{
    margin-top: 70px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.conteneur .CoordonneesCandidatProfessionnelles table{
    width: 100%;
}
.conteneur .CoordonneesCandidatProfessionnelles table input , textarea{
    outline: none;
    border: solid #317fc3 1px;
    background-color: #317fc33e;
    width: 80%;
    height: 70px;
    border-radius: 6px;
    padding: 10px;
}

.btnSubmitCoordonnées,.btnSubmitDP{
    position: absolute;
    bottom: 20px;
    right: 15%;
    border: none;
    outline: none;
    background-color: #8ebee8;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    transition: all 0.3s ease;
}
.btnSubmitCoordonnées:hover{
    background-color: #8ebee881;
    
}
h2{
    background-color: #317fc33e;
    width: 100%;
    position: absolute;
    height: 80px;
    left: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    border-bottom: solid #8ebee881 4px;
}
/* CV du candidats :  */

.CV .ModificationCV{
    margin-top: 90px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

/* Mot de Passe du candidats :  */

.conteneur .ModificationPassword{
    margin-top: 70px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.conteneur .ModificationPassword table{
    width: 100%;
}
.conteneur .ModificationPassword table input , textarea{
    outline: none;
    border: solid #317fc3 1px;
    background-color: #317fc33e;
    width: 85%;
    height: 70px;
    border-radius: 6px;
    padding: 10px;
    padding-left: 20px;
}

.FormPopUP{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: none;
}

.FormPopUP span{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.FormPopUP span:hover{
    color: red;
}

.FormPopUP .titreCoordonnees{
    height: 20%;
}
.FormPopUP .fromDonneesPersonel{
    background-color: #ffffffc4;
    height: 450px;
    width: 60%;
    border-radius: 10px;
    border-bottom: solid rgb(21, 110, 161);
    border-right: solid rgb(21, 110, 161);
    position: relative;
    z-index: 9999999;
}
.FormPopUP .fromDonneesPersonel table{
    height: 70%;
    position: absolute;
    top: 20%;
}

.FormPopUP .fromDonneesPersonel input{
    background-color: #0000002c;
    width: 80%;
    border: none;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: 100%;
}


.notificationDP {
    background-color: #4CAF50;
    color: #fff;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 270px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 0; /* Initialiser l'opacité à 0 */
    transition: opacity 0.5s ease; /* Ajouter une transition */
}

.notificationDP.show {
    opacity: 1; /* Augmenter l'opacité pour afficher la notification */
}

.notificationDP h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.notificationDP p {
    margin: 0;
}

.notificationC {
    background-color: #4CAF50;
    color: #fff;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 0; /* Initialiser l'opacité à 0 */
    transition: opacity 0.5s ease; /* Ajouter une transition */
}

.notificationC.show {
    opacity: 1; /* Augmenter l'opacité pour afficher la notification */
}

.notificationC h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.notificationC p {
    margin: 0;
}

.notificationDP {
    background-color: #4CAF50;
    color: #fff;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 0; /* Initialiser l'opacité à 0 */
    transition: opacity 0.5s ease; /* Ajouter une transition */
}

.notificationDP.show {
    opacity: 1; /* Augmenter l'opacité pour afficher la notification */
}

.notificationDP h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.notificationDP p {
    margin: 0;
}


.notificationCV{
    background-color: #4CAF50;
    color: #fff;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.notificationCV.show {
    opacity: 1; /* Augmenter l'opacité pour afficher la notification */
}

.notificationCV h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.notificationCV p {
    margin: 0;
}

.notificationOldPasswordIncorrect,
.notificationPasswordUpdated {
    background-color: #4CAF50;
    color: #fff;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease; 
}

.notificationOldPasswordIncorrect {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.notificationPasswordUpdated {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.notificationOldPasswordIncorrect h3,
.notificationPasswordUpdated h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.notificationOldPasswordIncorrect p,
.notificationPasswordUpdated p {
    margin: 0;

}

.notificationOldPasswordIncorrect.show,
.notificationPasswordUpdated.show {
    opacity: 1; 
}


