@import url('https://fonts.cdnfonts.com/css/readex-pro');
@import '../CSS/enTeteCSS.css';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Readex Pro', sans-serif;

}

body{
    position: relative;
}

.imagebg{
    background-image: url('../../SiteImages/CandidatImgs/1.jpg');
    background-color: #eee;
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    top: 70px;
}
.serviceRechercheCandidat{
    height: 100%;
    width: 100%;
    background-color: #00000044;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceRechercheCandidat form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.NbrPoste{
    position: absolute;
    top: 100px;
    color: #eee;
    font-size: 25px;
}

.serviceRechercheCandidat form input{
    width: 300px;
    height: 60px;
    margin: 20px;
    padding-left: 20px;
    border-radius: 30px;
    background-color: #bbdae296;
    color: #eee;
    font-size: 25px;
    outline: none;
    border: none;
}
.serviceRechercheCandidat form input::placeholder{
    color: rgb(238, 238, 238);
}


.serviceRechercheCandidat form button{
    width: 100px;
    height: 60px;
    margin: 20px;
    border-radius: 30px;
    border: none;
    background-color: #486985;
    outline: none;
    overflow: hidden;
    color: #eee;
    font-size: 20px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviceRechercheCandidat form button i{
    font-size: 40px;
}
.serviceRechercheCandidat form button:hover{
    background-color: rgb(106, 176, 199);
    color: black;
}

.textDernierOffre{
    position: relative;
    width: 100%;
    height: max-content;
    padding-left: 15%;
    margin-bottom: 20px;
    font-size: 30px;

}

.DernierOffresEmploi{
    background-color: #fff;
    position: relative;
    width: 100%;
    min-height: 1200px;
    height: max-content;
    margin-bottom: 100px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offres{
    width: 80%;
    min-height: 800px;
    height: max-content;
    border: solid #eee 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logoEntreprise{
    width: 250px;
}

.offresRecruteur{
    width: 100%;
    margin-top: -40px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
}

.offrecard{
    background-color: white;
    border:  solid rgb(213, 213, 213) 3px;
    min-height: 200px;
    height: max-content;
    display: flex;
    transition: all 0.3s ease;
    width: 100%;
    cursor: pointer;

}
.offrecard:hover{
    background-color: #448cb54c;
}

.RecruteurLogo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offredetail{
    font-size: 25px;
    padding-left: 18px;
    padding-right: 18px;
    width: 80%;
    padding-top: 10px;
}

.entL{
    border-radius: 20px;
    background-color: white;
    z-index: 200;
    height: 150px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(213, 213, 213) solid 3px;
}

.description,.region{
    font-size: 15px;
}
.description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Spécifie le nombre de lignes à afficher */
    -webkit-box-orient: vertical;
    overflow: hidden; 
}


.NomEntreprise{
    margin-left: 20px;
    font-size: 20px;
}

.notificationVide {
    background-color: rgba(0, 229, 255, 0.9); /* Turquoise avec opacité */
    border: 2px solid rgba(192, 202, 206, 0.9); /* Bordure argentée */
    color: black;
    text-align: center;
    padding: 15px;
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    font-size: 16px;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notificationVide.active {
    opacity: 1;
}
