@import url('https://fonts.cdnfonts.com/css/readex-pro');

*{
    font-family: 'Readex Pro', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: 'Poppins', sans-serif;
}

.bg{
    background-image: url("./SiteImg/AccBg\ \(2\).jpg") ;
    background-size: cover;
    background-position: 2px;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 100px;
}
.bg::after {
    content: "";
    background-color: rgba(3, 35, 57, 0.683);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


.navbar{
    background-color: #eee;
    position: fixed;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    
}

.navbar .EspaceCandidat {
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin-right: 100px;
    height: 100%;
}

.EspaceCandidat .DepotCV{
    margin-right: 50px;
    font-size: 25px;
    font-weight: 600;
    color: #007bff;
    
}
.EspaceCandidat .RechercherProfil{
    margin-right: 50px;
    height: 50px;
    width: 250px;
    padding-right: 50px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    border: solid;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.322);
    background-color: transparent;
    
}.EspaceCandidat .RechercherProfil::placeholder{
    font-size: 20px;
    color: rgb(85, 85, 85);
    font-weight: 100;
}.EspaceCandidat .RechercherProfil::placeholder:focus{
   border: solid black;
}

.EspaceCandidat .Recherchebtn{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 88px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 24px;
    height: 50px;
    width: 40px;
    background-color: #007bff;
    border: none;
    
}

.EspaceCandidat .Profil {
    cursor: pointer;
    width: 35px;
}





.navbar .navbrlinks {
    color: rgb(0, 0, 0)!important;
    font-weight: 650;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    display: flex;
    margin: 0 10px;
}


.navbar .Menu{
    display: none;
    position: absolute;
    top: 39px;
    right: 30px;
    width: 35px;
    cursor: pointer;
    
}

.nav-links.mobile-menu{
    margin-top: 0;
}

@media screen and (max-width: 40000px){
    .navbar .Menu{
        display: block;
    }
    .nav-links{
        top: 0;
        right: 0;
        position: fixed;
        background-color: rgba(14, 122, 205, 0.717);
        backdrop-filter: blur(7px);
        width: 150px;
        height: 100vh;
        display: flex;
        padding: 90px;
        margin-top: -200%;
        transition: all 0.5s ease;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li {
        display: flex;
        margin: 15px 0;
    }
    .navbar .nav-links ul li:hover {
        color: white;
    
    }

}


.B1V{
    width: 100%;
    height: 800px;
    position: absolute;
    top: 100px;
    padding-top: 30px;
}

.B1V b{
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    color: #eee;
    padding: 30px;

}

.rechEmp {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 800px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


.recherche{
    height: 550px; 
    background-color: rgba(0, 0, 0, 0.321);
    justify-content: center;
    border-top: none;
    border-left: none;
    border-right: solid 4px rgb(36, 149, 230) ;
    border-bottom: solid 4px rgb(42, 151, 230);
    border-radius: 10px;
    align-items: center;
    margin-top: 100px;
    

}
.recherche label,input,select,button{
    font-size: 23px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px; 
}

.recherche button{
    font-size: 23px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px; 
}

.recherche input,select{
    width: 250px;
    height: 50px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.485);
    color: lightgray;
    border-radius: 7px;
    border: none;
}

.recherche input{
    padding-left: 10px;
}
.recherche input::placeholder{
    font-size: 25px;
    color: lightgray;
    
}

.recherche select option{
    font-size: 25px;
    color: lightgray;
    padding-left: 10px;
}
.recherche label{
    font-size: 30px;
    color: white;
}

.recherche button{
    background-color: green;
    color: #eee;
    font-size: 30px;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;

}
.recherche button:hover{
    background-color: rgb(0, 74, 0);
    
}


.barresoffres{
    width: 100%;
    position: absolute;
    top: 0;
}

.barresoffres .barregauche{
    position: absolute;
    top: 900px;
    left: 0;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.27);
    height: 100vh;

}

.barresoffres .barredroit{
    position: absolute;
    top: 900px;
    margin-top: 0;
    right: 0;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.27);
    height: 100vh;

}

.barresoffres .offres{
    position: absolute;
    top: 900px;
    width: 60%;
    right: 20%;
    background-color: #eee;
    height: 100vh;
}
.barresoffres .offres .titre{
    padding: 20px;
    margin-left: 30px;
}


.container{
    width: 80%;
    margin: 0 auto;
}


.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 30px ;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
.float-left {
    float: left!important;
}
.rounded-circle {
    border-radius: 50%!important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    color: #6c757d!important;
}
.float-right {
    float: right!important;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.card-title {
    margin-bottom: .75rem;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h6, h6 {
    font-size: 1rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
.h4, h4 {
    font-size: 1.5rem;
}




