@import url('https://fonts.cdnfonts.com/css/readex-pro');

*{
    font-family: 'Readex Pro', sans-serif;
}

/*Affichage des Offres*/
.body{
    position: absolute;
    top: 40px;
    width:100%;
    padding: 4%;
}
.pageOffres{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr; /* Définit deux lignes de fraction égale */
    grid-template-columns: 45% 45%; /* Définit deux colonnes de 50% chacune */
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.uneOffre{
    margin-bottom: 10px;
    height: max-content;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}
.profileOffre{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}
.profileOffre .supprimerOffre{
    position: absolute;
    right: 0;
    margin-right: 5px;
}
.supprimerOffre button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.imageProfileOffre img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: black solid;
}
.profileOffre .nomAdministrateurOffre{
    font-size: 15px;
    margin-left: 5px;
}

/* menue deroulant */

           
.menuDeroulant{
    margin-top: 10px;
    position: fixed;
    right: 200px;
    top: 0;
    z-index: 2000;
}
.optionSelectionnee {
    border: none;
    font-size: 15px;
    text-align: center;
}

.optionSelectionnee:focus {
    outline: none;
    background: none;
}

.divOptionSelectionneeOffre svg {
    cursor: pointer;
}

.divOptionSelectionneeOffre {
    width: max-content;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex; 
    margin-left: 20px;
}
.options li {
    padding: 10px;
    cursor: pointer;
}
.options li:hover {
    background-color: #f0f0f0; /* Couleur de fond lors du survol de l'option */
}

.options {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 210px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
}
.divOptions{
    position: relative;
    right: 200px;
    top: 30px;
    z-index: 1000;
}
h1{
    margin-top: 10px;
}
/*offreBareDeRecherche*/
.offreBareDeRecherche{
    display: flex;
    align-items: center;
  }
  .offreBareDeRechercheForm{
    display: flex;
  }
  div.bareDeRechercheOffre{
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 12px;
    
  }
  .inputRecherche{
    border: none;
      
  }
  .inputRecherche:focus{
    outline: none;
    background: transparent;
  }
  .buttonRecherche{
    border: none;
    border-radius: 50%;
    color:#1aa3d4;
    background: transparent;
  }
  .buttonRecherche:focus{
    outline: none;
  }
  p.description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
p.region{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#pre{
    float: left;
  }
  #suiv{
    float: right;
  }
  div.suivantPrecedant a{
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.393);
    font-size: 16px;
    font-weight: 500;
  }
  div.suivantPrecedant a:hover{
    color: rgba(0, 0, 0, 0.883);
  }
  div.suivantPrecedant{
    margin-top: 40px;
    width: 100%;
    padding-left: 1%;
    padding-right: 6%;
    text-align: center;
  }