@import url('https://fonts.cdnfonts.com/css/readex-pro');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
                                                
}
header{
    position: fixed;
    top: 0;
    z-index: 9999;
}
.NbrOffreTouve,.PasResultat,.MotCleNomEntee{
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 70px;
}



.recherchePage{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    padding-top: 120px;
    position: relative;
    margin-top: 80px;
}


.offresRecruteur{
    width: 100%;
    margin-top: 30px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    
}

.offrecard{
    background-color: white;
    border:  solid rgb(213, 213, 213) 3px;
    min-height: 240px;
    height: max-content;
    display: flex;
    transition: all 0.3s ease;
    width: 80%;
    cursor: pointer;

}
.offrecard:hover{
    background-color: #448cb54c;
}

.RecruteurLogo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offredetail{
    font-size: 25px;
    padding-left: 18px;
    padding-right: 18px;
    width: 80%;
    padding-top: 10px;
}

.entL{
    border-radius: 20px;
    background-color: white;
    z-index: 200;
    height: 150px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(213, 213, 213) solid 3px;
}
.description,.region{
    font-size: 20px;
}




footer{
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 200px;
}
